<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
 <% @trainer.pokemons.each do |p| %>
	Name: <%= p.name %> Level: <%= p.level %> Health: <%=p.health %>
	 <%= button_to "Damage!", damage_path(p), :class => "button medium", :method => :patch %>
	<br />

<% end %>
<%= button_to "Create Your Own Pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>